sudo: required
services:
  - docker
before_install:
  - docker build -t housealwayswin/angular-docker -f Dockerfile .

script:
  - docker run -e CI=true housealwayswin/angular-docker npm run start

deploy:
  provider: elasticbeanstalk
  region: "ap-northeast-1"
  app: "docker"
  env: "Docker-env"
  bucket_name: "elasticbeanstalk-ap-northeast-1-760721353343"
  bucket_path: "docker"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key:
    secure: "$AWS_SECRET_KEY"
